<div class="relative min-h-screen flex justify-center overflow-hidden">
    <h1
      class="absolute text-center top-[80px] font-['Konkhmer_Sleokchher'] text-[22px] leading-[38px] text-[#FFFFFF] font-normal tracking-wide mt-8 pop-up
          2xl:text-[38px] 2xl:leading-[64px]
          xl:text-[32px] xl:leading-[55px]
          lg:text-[30px] lg:leading-[51px] 
          md:text-[28px] md:leading-[48px]
          sm:text-[24px] sm:leading-[40px]"
    >
    ABOUT ME
    </h1>
    <div class="absolute top-[200px] line border-b-4 pop-up w-[300px] 2xl:w-[727px] xl:w-[727px] lg:w-[600px] md:w-[500px] sm:w-[450px]"></div>
    <div class="flex flex-col min-h-screen w-full max-w-[1000px]">
        <div class="mt-64 ml-16 sm:ml-36 md:ml-48 2xl:ml-0 xl:ml-0 lg:ml-28 flex flex-col items-start w-full">
            <h2 class="font-['Konkhmer_Sleokchher'] 
            text-[16px] leading-[29px] 
            2xl:text-[24px] 2xl:leading-[43px] 
            xl:text-[24px] xl:leading-[43px] 
            lg:text-[20px] lg:leading-[36px]
            md:text-[20px] md:leading-[36px] 
            sm:text-[18px] sm:leading-[32px] 
            text-[#FFFFFF] font-normal tracking-wide pop-up"
            >
            My short information</h2>
            <p class="mr-16 absolute top-[320px] font-['PT Sans'] text-[#FFFFFF] 
            text-[12px] leading-[18px] 
            2xl:text-[16px] 2xl:leading-[24px]
            xl:text-[16px] xl:leading-[24px]
            lg:text-[14px] lg:leading-[21px]
            md:text-[14px] md:leading-[21px]
            sm:text-[12px] sm:leading-[18px]
            font-normal tracking-wider pop-up">My name is Benchaphorn Chanprasertkul, I just graduated <br class="hidden mo:hidden sm:block">
            with Second Class Honours from <a href="http://www.kmutt.ac.th/" target="_blank" style="color: inherit; text-decoration: underline;">King Mongkut’s University <br class="hidden mo:hidden sm:block">
            of Technology Thonburi</a>, Engineering Program in Mechatronics <br class="hidden mo:hidden sm:block">
            Engineering.<br > 
            <br>
            I also interned in Full stack developer at MyOrder company <br class="hidden mo:hidden sm:block">
            year 2023 and NECTEC 2022. Addiyionaly, I has been interned <br class="hidden mo:hidden sm:block">
            at CERN Geneva, Switzerland in DepOps year 2024.<br> 
            <br>
            You can see more detail about my experience here.</p>
                    <a href="assets/Benchaphorn_resume.pdf" target="_blank">
                        <img src="assets/images/resume.png" alt="resume" class="mt-60 2xl:mt-72 xl:mt-72 lg:mt-64 md:mt-64 sm:mt-60 mo:mt-72 w-[82px] h-[24px]
                        2xl:w-[123px] 2xl:h-[36px]
                        xl:w-[123px] xl:h-[36px]
                        lg:w-[112px] lg:h-[33px]
                        md:w-[103px] md:h-[30px]
                        sm:w-[95px] sm:h-[28px] pop-up"/>
                </a>
        </div>
        
        <div class="mt-12 mb-32 flex flex-col items-start 
        2xl:absolute 2xl:top-[200px] 2xl:left-[1000px] 2xl:mr-28
        xl:absolute xl:top-[200px] xl:left-[400px] xl:mr-28
        lg:absolute lg:top-[200px] lg:left-[600px]
        order-last relative ml-16 sm:ml-36 md:ml-48 md:mr-16 2xl:ml-0 xl:ml-80 lg:ml-0
        ">

            <h3 class=" font-['Konkhmer_Sleokchher'] text-[16px] leading-[29px] 
            2xl:text-[24px] 2xl:leading-[43px] 
            xl:text-[24px] xl:leading-[43px] 
            lg:text-[20px] lg:leading-[36px]
            md:text-[20px] md:leading-[36px] 
            sm:text-[18px] sm:leading-[32px] text-[#FFFFFF] font-normal tracking-wide pop-up"
            >Skills</h3>
            
                <p class="font-['Konkhmer_Sleokchher'] 
                text-[14px] leading-[25px] 
                2xl:text-[20px] 2xl:leading-[36px] 
                xl:text-[20px] xl:leading-[36px] 
                lg:text-[18px] lg:leading-[33px] 
                md:text-[18px] md:leading-[33px] 
                sm:text-[16px] sm:leading-[29px]
                text-[#FFFFFF] font-normal tracking-wide pop-up">
                Computer Languages</p>
                <div class="flex flex-wrap mo:mr-32 xl:mr-auto">
                    <span class="block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px]
                    text-[#FFFFFF] pop-up js-label">JavaScript</span>
                    <span class="block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">Typescript</span>
                    <span class="block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">CSS</span>
                    <span class="block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">HTML</span>
                    <span class="block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">Python</span>
                    <span class="block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">YAML</span>
                </div>

                <p class="mt-4 font-['Konkhmer_Sleokchher'] text-[14px] leading-[25px] 
                2xl:text-[20px] 2xl:leading-[36px] 
                xl:text-[20px] xl:leading-[36px] 
                lg:text-[18px] lg:leading-[33px] 
                md:text-[18px] md:leading-[33px] 
                sm:text-[16px] sm:leading-[29px]
                 text-[#FFFFFF] font-normal tracking-wide pop-up">
                 Framework</p>
                <div class="flex flex-wrap">
                    <span class="inline-block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">Angular</span>
                    <span class="inline-block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">Nest.Js</span>
                    <span class="inline-block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">Node.Js</span>
                </div>

                <p class="mt-4 font-['Konkhmer_Sleokchher'] text-[14px] leading-[25px] 
                2xl:text-[20px] 2xl:leading-[36px] 
                xl:text-[20px] xl:leading-[36px] 
                lg:text-[18px] lg:leading-[33px] 
                md:text-[18px] md:leading-[33px] 
                sm:text-[16px] sm:leading-[29px] text-[#FFFFFF] font-normal tracking-wide pop-up">
                Database</p>
                <div class="flex flex-wrap">
                    <span class="inline-block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">MongoDB</span>
                    <span class="inline-block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">MySQL</span>
                </div>

                <p class="mt-4 font-['Konkhmer_Sleokchher'] text-[14px] leading-[25px] 
                2xl:text-[20px] 2xl:leading-[36px] 
                xl:text-[20px] xl:leading-[36px] 
                lg:text-[18px] lg:leading-[33px] 
                md:text-[18px] md:leading-[33px] 
                sm:text-[16px] sm:leading-[29px] text-[#FFFFFF] font-normal tracking-wide pop-up">Tools</p>
                <div class="flex flex-wrap">
                    <span class="inline-block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">Docker</span>
                    <span class="inline-block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">Sonarqube</span>
                    <span class="inline-block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">Git</span>
                    <span class="inline-block font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">GitHub Action</span>
                </div>

                <p class="mt-4 font-['Konkhmer_Sleokchher'] text-[14px] leading-[25px] 
                2xl:text-[20px] 2xl:leading-[36px] 
                xl:text-[20px] xl:leading-[36px] 
                lg:text-[18px] lg:leading-[33px] 
                md:text-[18px] md:leading-[33px] 
                sm:text-[16px] sm:leading-[29px] text-[#FFFFFF] font-normal tracking-wide pop-up">
                languages</p>
                <div class="flex flex-wrap">
                    <span class="font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px] text-[#FFFFFF] pop-up js-label">English</span>
                    <span class="font-['Konkhmer_Sleokchher'] text-[10px] leading-[15px] 
                    2xl:text-[14px] 2xl:leading-[26px]
                    xl:text-[14px] xl:leading-[26px]
                    lg:text-[12px] lg:leading-[18px]
                    md:text-[12px] md:leading-[18px]
                    sm:text-[10px] sm:leading-[15px]  text-[#FFFFFF] pop-up js-label">Chinese</span>
                </div>
        </div>
        </div>
</div>


