:host {
    display: block;
    min-height: 100vh;
    background-color: #5384B5;
}

.line {
    border: 2px solid #FFFFFF;
}
@keyframes popUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .pop-up {
    animation: popUp 1s ease-out ; 
  }

.js-label {
    display: block;
    background-color: #275C81;
    color: white;           
    border: 2px solid white; 
    border-radius: 5px;      
    padding: 3px 7px;        
    margin-top: 8px;         
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}
