<body class="bg-blue-sky">
    <div class="relative mx-auto min-h-[200vh] flex justify-center ">
        <h1
        class="absolute text-center top-[80px] font-['PT Sans'] text-[#ffffff] font-normal tracking-wide mt-8 pop-up
        text-[14px] leading-[25px] 
        2xl:text-[20px] 2xl:leading-[36px] 
        xl:text-[20px] xl:leading-[36px] 
        lg:text-[18px] lg:leading-[33px] 
        md:text-[18px] md:leading-[33px] 
        sm:text-[16px] sm:leading-[29px]"
        >
        This part  will get to know me about my experiences 
        </h1>
        <div class="absolute top-[170px] line border-b-4 pop-up w-[300px] 2xl:w-[727px] xl:w-[727px] lg:w-[600px] md:w-[500px] sm:w-[450px]"></div>
        <div class="flex flex-col w-full max-w-[1000px]">
            <div class="mt-64 ml-16 sm:ml-36 md:ml-60 2xl:ml-0 xl:ml-0 lg:ml-0 flex flex-col items-start w-full">
                <h1 class="absolute top-[210px] font-['Konkhmer_Sleokchher'] 
                text-[16px] leading-[29px] 
                2xl:text-[24px] 2xl:leading-[43px] 
                xl:text-[24px] xl:leading-[43px] 
                lg:text-[20px] lg:leading-[36px]
                md:text-[20px] md:leading-[36px] 
                sm:text-[18px] sm:leading-[32px] 
                text-[#ffffff] font-normal tracking-wide pop-up">DevOps Project</h1>
                <div class="absolute top-[260px] flex flex-col">
                    <h2 class="font-['Konkhmer_Sleokchher'] text-[#ffffff] 
                    text-[10px] leading-[16px] 
                    2xl:text-[16px] 2xl:leading-[24px]
                    xl:text-[16px] xl:leading-[24px]
                    lg:text-[14px] lg:leading-[21px]
                    md:text-[14px] md:leading-[21px]
                    sm:text-[12px] sm:leading-[18px]
                    font-normal tracking-wide pop-up" >
                    European Organization for Nuclear Research (CERN), Geneva, Switzerland</h2>
                        <p class="absolute mt-8 font-['PT Sans'] text-[#ffffff] 
                        text-[10px] leading-[16px] 
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wider pop-up ">
                        Testing Infrastructure with GitHub Action, Modify the structure , I optimized <br>
                        our approach by parallelizing the execution of test without having to rebuild <br>
                        the Docker image in every run. The Docker image we build contains all <br>
                        necessary dependencies, GPU drivers (if applicable), and the Xsuite packages <br>
                        in the versions we need to test. So I build Docker images once <br>
                        on a single machine and distribute these artifacts to other machines<br> 
                        for testing.</p>
                        <div class="absolute md:mt-48 lg:mt-56 xl:mt-56 2xl:mt-56 sm:mt-44 mt-40 text-[#ffffff] font-['PT Sans'] text-[#ffffff] 
                        text-[12px] leading-[18px] 
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wider pop-up">
                            <span class="font-bold">&bull; Computer language: </span>
                            <span class="font-normal">Python</span>
                        </div>
                        <div class="absolute mt-48 sm:mt-52 md:mt-56 lg:mt-64 xl:mt-64 2xl:mt-64  text-[#ffffff] font-['PT Sans'] text-[#ffffff] 
                        text-[12px] leading-[18px] 
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wider pop-up">
                            <span class="font-bold">&bull; Tools :</span> 
                            <span class="font-normal" >Docker, GitHub Action, GitHub Artifact</span>
                        </div>
                        <div class="flex gap-4 mt-52 sm:mt-56 md:mt-60 lg:mt-[270px] xl:mt-72 2xl:mt-72  ">
                            <a href="https://github.com/SuuGarr/xsuite" target="_blank">
                                <img src="assets/images/GitHublink.png" alt="GitHublink" class="
                                w-[83px] h-[21px]
                                2xl:w-[144px] 2xl:h-[36px]
                                xl:w-[144px] xl:h-[36px]
                                lg:w-[120px] lg:h-[30px]
                                md:w-[120px] md:h-[30px]
                                sm:w-[100px] sm:h-[25px] pop-up"/>
                            </a>
                            <a href="assets/Continue testing the Infrastructure of Xsuite using GitHub action artifact.pdf" target="_blank">
                                <img src="assets/images/Poster.png" alt="poster" class="
                                w-[77px] h-[25px]
                                2xl:w-[112px] 2xl:h-[36px]
                                xl:w-[112px] xl:h-[36px]
                                lg:w-[93px] lg:h-[30px]
                                md:w-[93px] md:h-[30px]
                                sm:w-[77px] sm:h-[25px] pop-up"/>
                        </a>
                    </div>
                        <img
                        src="assets/images/cern.png"
                        alt="cern"
                        class="rounded-2xl 2xl:absolute 2xl:left-[620px] 2xl:w-[656px] 2xl:h-[236px] 2xl:mt-0
                        xl:absolute xl:left-[620px] xl:w-[656px] xl:h-[236px] xl:mt-0
                        lg:absolute lg:left-[560px] lg:w-[455px] lg:h-[163px] lg:mt-0
                        md:relative md:mt-4 md:w-[455px] md:h-[163px]
                        sm:relative sm:mt-4 sm:w-[455px] sm:h-[163px]
                        relative mt-4 w-[379px] h-[135px]
                        "
                    />
                </div>
                <div class="relative 2xl:absolute xl:absolute lg:absolute 2xl:top-[700px] xl:top-[700px] lg:top-[650px] 
                md:top-[530px] sm:top-[500px] top-[470px] flex flex-col 
                 w-full max-w-[1000px] ">
                        <h1 class="font-['Konkhmer_Sleokchher'] 
                        text-[16px] leading-[29px] 
                        2xl:text-[24px] 2xl:leading-[43px] 
                        xl:text-[24px] xl:leading-[43px] 
                        lg:text-[20px] lg:leading-[36px]
                        md:text-[20px] md:leading-[36px] 
                        sm:text-[18px] sm:leading-[32px] 
                        text-[#ffffff] font-normal tracking-wide pop-up" >
                        Full stack developer Project. </h1>
                        <h2 class="absolute mt-12 font-['Konkhmer_Sleokchher'] text-[#ffffff] 
                        text-[10px] leading-[16px] 
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wide pop-up" >
                        MyOrder company  Remote, Thailand</h2>
                        <h3 class="absolute mt-20 font-['Konkhmer_Sleokchher'] text-[#ffffff] 
                        text-[10px] leading-[16px] 
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wide pop-up" >
                        Developed web applications.</h3>
                        <p class="absolute mt-28 font-['PT Sans'] text-[#ffffff] 
                        text-[10px] leading-[16px]  
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wider pop-up ">
                        Developed web application, About Backend system for managing a complete <br>
                        online store.It will be developing the feature system of the online store <br>
                        management system in monitoring the number of seller orders.</p>
                            <div class="absolute md:mt-48 lg:mt-52 xl:mt-52 2xl:mt-52 sm:mt-48 mt-44 text-[#ffffff] font-['PT Sans']  
                            text-[12px] leading-[18px] 
                            2xl:text-[16px] 2xl:leading-[24px]
                            xl:text-[16px] xl:leading-[24px]
                            lg:text-[14px] lg:leading-[21px]
                            md:text-[14px] md:leading-[21px]
                            sm:text-[12px] sm:leading-[18px]
                            font-normal tracking-wider pop-up">
                                <span class="font-bold">&bull; Computer language:</span>
                                <span class="font-normal">Javascript, Typescript, CSS, HTML</span>
                            </div>
                            <div class="absolute md:mt-54 lg:mt-60 xl:mt-60 2xl:mt-60 sm:mt-56 mt-[200px] text-[#ffffff] font-['PT Sans']  
                            text-[12px] leading-[18px] 
                            2xl:text-[16px] 2xl:leading-[24px]
                            xl:text-[16px] xl:leading-[24px]
                            lg:text-[14px] lg:leading-[21px]
                            md:text-[14px] md:leading-[21px]
                            sm:text-[12px] sm:leading-[18px]
                            font-normal tracking-wider pop-up">
                                <span class="font-bold">&bull; Framework:</span>
                                <span class="font-normal">Angular framework, NestJs, NodeJs</span>
                            </div>
                            <div class="absolute md:mt-64 lg:mt-[270px] xl:mt-[270px] 2xl:mt-[273px] sm:mt-64 mt-56 text-[#ffffff] font-['PT Sans']  
                            text-[12px] leading-[18px] 
                            2xl:text-[16px] 2xl:leading-[24px]
                            xl:text-[16px] xl:leading-[24px]
                            lg:text-[14px] lg:leading-[21px]
                            md:text-[14px] md:leading-[21px]
                            sm:text-[12px] sm:leading-[18px]
                            font-normal tracking-wider pop-up">
                                <span class="font-bold">&bull; Database:</span>
                                <span class="font-normal">MongoDB ( No SQL Database)</span>
                            </div>
                            <div class="absolute md:mt-72 lg:mt-[300px] xl:mt-[300px] 2xl:mt-[303px] sm:mt-72 mt-[249px] text-[#ffffff] font-['PT Sans']  
                            text-[12px] leading-[18px] 
                            2xl:text-[16px] 2xl:leading-[24px]
                            xl:text-[16px] xl:leading-[24px]
                            lg:text-[14px] lg:leading-[21px]
                            md:text-[14px] md:leading-[21px]
                            sm:text-[12px] sm:leading-[18px]
                            font-normal tracking-wider pop-up">
                                <span class="font-bold">&bull; Tools :</span>
                                <span class="font-normal">Docker , sonarqube , Git</span>
                            </div>
                                <img
                                src="assets/images/myorder.png"
                                alt="myorder"
                                class="2xl:absolute 2xl:left-[620px] 2xl:w-[598px] 2xl:h-[325px] 2xl:mt-0
                                xl:absolute xl:left-[620px] xl:w-[598px] xl:h-[325px] xl:mt-0
                                lg:absolute lg:left-[560px] lg:w-[498px] lg:h-[270px] lg:mt-0
                                md:relative md:mt-72 md:w-[498px] md:h-[270px]
                                sm:relative sm:mt-80 sm:w-[498px] sm:h-[270px]
                                relative mt-64 w-[415px] h-[225px]
                                "
                                />
                    </div>
                    <div class="relative 2xl:absolute xl:absolute lg:absolute 2xl:top-[1080px] xl:top-[1080px] lg:top-[1080px] 
                            md:top-[600px] sm:top-[550px] top-[530px] flex flex-col 
                            w-full max-w-[1000px] ">
                    
                            <h1 class="font-['Konkhmer_Sleokchher'] 
                            text-[16px] leading-[29px] 
                            2xl:text-[24px] 2xl:leading-[43px] 
                            xl:text-[24px] xl:leading-[43px] 
                            lg:text-[20px] lg:leading-[36px]
                            md:text-[20px] md:leading-[36px] 
                            sm:text-[18px] sm:leading-[32px] 
                            text-[#ffffff] font-normal tracking-wide pop-up" >
                            Full stack developer Project. </h1>
                            <h2 class="absolute mt-12 font-['Konkhmer_Sleokchher'] text-[#ffffff] 
                            text-[10px] leading-[16px] 
                            2xl:text-[16px] 2xl:leading-[24px]
                            xl:text-[16px] xl:leading-[24px]
                            lg:text-[14px] lg:leading-[21px]
                            md:text-[14px] md:leading-[21px]
                            sm:text-[12px] sm:leading-[18px]
                            font-normal tracking-wide pop-up" >
                            The National Electronics and Computer Technology Center (NECTEC) <br>
                            Bangkok, Thailand</h2>
                            <h3 class="absolute mt-[105px] font-['Konkhmer_Sleokchher'] text-[#ffffff] 
                            text-[10px] leading-[16px] 
                            2xl:text-[16px] 2xl:leading-[24px]
                            xl:text-[16px] xl:leading-[24px]
                            lg:text-[14px] lg:leading-[21px]
                            md:text-[14px] md:leading-[21px]
                            sm:text-[12px] sm:leading-[18px]
                            font-normal tracking-wide pop-up" >
                            Developed web applications.</h3>
                        <p class="absolute mt-36 font-['PT Sans'] text-[#ffffff] 
                        text-[10px] leading-[16px]  
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wider pop-up ">
                        developing the Line chatbot system for face authentication by developing<br>
                         the part of the User interface that has registration function Geolocation <br>
                         from GPS Accessing the User's Camera to take pictures of faces by creating <br>
                         a database to store username, password, User ID, IP address, location, <br>
                         face photo. Then the data will be sent to the line chatbot and connected <br>
                         to the research team's back-end platform to process facial authentication.
                        </p>
                            <div class="absolute md:mt-72 lg:mt-72 xl:mt-80 2xl:mt-80 sm:mt-72 mt-64 text-[#ffffff] font-['PT Sans'] text-[#ffffff] 
                            text-[12px] leading-[18px] 
                            2xl:text-[16px] 2xl:leading-[24px]
                            xl:text-[16px] xl:leading-[24px]
                            lg:text-[14px] lg:leading-[21px]
                            md:text-[14px] md:leading-[21px]
                            sm:text-[12px] sm:leading-[18px]
                            font-normal tracking-wider pop-up">
                                <span class="font-bold">&bull; Computer language:</span>
                                <span class="font-normal">Javascript, CSS, HTML, Python</span>
                            </div>
                                <div class="absolute md:mt-[325px] lg:mt-[325px] xl:mt-[360px] 2xl:mt-[360px] sm:mt-80 mt-72 text-[#ffffff] font-['PT Sans']  
                                text-[12px] leading-[18px] 
                                2xl:text-[16px] 2xl:leading-[24px]
                                xl:text-[16px] xl:leading-[24px]
                                lg:text-[14px] lg:leading-[21px]
                                md:text-[14px] md:leading-[21px]
                                sm:text-[12px] sm:leading-[18px]
                                font-normal tracking-wider pop-up">
                                    <span class="font-bold">&bull; Database:</span>
                                    <span class="font-normal">MySQL</span>
                                </div>
                                <img
                                src="assets/images/nectec.png"
                                alt="nectec"
                                class="2xl:absolute 2xl:left-[620px] 2xl:w-[538px] 2xl:h-[535px] 2xl:mt-0
                                xl:absolute xl:left-[620px] xl:w-[538px] xl:h-[535px] xl:mt-0
                                lg:absolute lg:left-[560px] lg:w-[449px] lg:h-[446px] lg:mt-0
                                md:relative md:mt-[340px] md:w-[449px] md:h-[446px]
                                sm:relative sm:mt-80 sm:w-[374px] sm:h-[372px]
                                relative mt-72 w-[374px] h-[372px]
                                "
                                />
                    </div>
            </div>
        </div>
    </div>
</body>