:host {
    display: block;
    min-height: 100vh;
    background-color: #5384B5;
    overflow-x: hidden;
}

@keyframes popUp {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .pop-up {
    animation: popUp 1s ease-out ; 
  }
