<nav class="nav-container">
  <div class="nav-link">
    <a (click)="navigateTo('home')" [ngClass]="{'active-link': currentActive === 'home'}">Home</a>
  </div>
  <div class="nav-link">
    <a (click)="navigateTo('aboutMe')" [ngClass]="{'active-link': currentActive === 'aboutMe'}">About Me</a>
  </div>
  <div class="nav-link">
    <a (click)="navigateTo('project')" [ngClass]="{'active-link': currentActive === 'project'}">Project</a>
  </div>
  <div class="nav-link">
    <a (click)="navigateTo('experience')" [ngClass]="{'active-link': currentActive === 'experience'}">Experience</a>
  </div>
</nav>
<div id="home" #home class="section-container">
  <app-home></app-home>
</div>
<div id="aboutMe" #aboutMe class="section-container">
  <app-about-me></app-about-me>
</div>
<div id="project" #project class="section-container">
  <app-project></app-project>
</div>
<div id="experience" #experience class="section-container">
  <app-experience></app-experience>
</div>
