<body class="bg-white-blue">
    <div class="relative mx-auto min-h-[150vh] sm:min-h-[150vh] md:min-h-[170vh] lg:min-h-[120vh] mo:min-h-[170vh] flex justify-center overflow-hidden">
        <h1
        class="absolute text-center top-[80px] font-['PT Sans'] text-[#275C81] font-normal tracking-wide mt-8 pop-up
        text-[14px] leading-[25px] 
        2xl:text-[20px] 2xl:leading-[36px] 
        xl:text-[20px] xl:leading-[36px] 
        lg:text-[18px] lg:leading-[33px] 
        md:text-[18px] md:leading-[33px] 
        sm:text-[16px] sm:leading-[29px]"
        >
        This part  will get to know me about my project 
        </h1>
        <div class="absolute top-[170px] line border-b-4 pop-up w-[300px] 2xl:w-[727px] xl:w-[727px] lg:w-[600px] md:w-[500px] sm:w-[450px]"></div>
        <div class="flex flex-col min-h-screen w-full max-w-[1000px]">
            <div class="mt-64 ml-16 sm:ml-36 md:ml-60 2xl:ml-0 xl:ml-0 lg:ml-0 flex flex-col items-start w-full">
                <h2 class="absolute top-[210px] font-['Konkhmer_Sleokchher'] 
                text-[16px] leading-[29px] 
                2xl:text-[24px] 2xl:leading-[43px] 
                xl:text-[24px] xl:leading-[43px] 
                lg:text-[20px] lg:leading-[36px]
                md:text-[20px] md:leading-[36px] 
                sm:text-[18px] sm:leading-[32px] 
                text-[#275C81] font-normal tracking-wide pop-up">Senior Project</h2>
                <div class="absolute top-[260px] flex flex-col">
                    <h3 class="font-['Konkhmer_Sleokchher'] text-[#275C81] 
                    text-[10px] leading-[16px] 
                    2xl:text-[16px] 2xl:leading-[24px]
                    xl:text-[16px] xl:leading-[24px]
                    lg:text-[14px] lg:leading-[21px]
                    md:text-[14px] md:leading-[21px]
                    sm:text-[12px] sm:leading-[18px]
                    font-normal tracking-wider pop-up" >
                    Detection of Solidification crack and Prediction formation in GTAW of <br class="hidden mo:hidden sm:block">
                    Aluminum alloy using Artificial Intelligence base Method on an infrared <br class="hidden mo:hidden sm:block">
                    thermal imaging.</h3>
                        <p class="absolute mt-20 mr-8 font-['PT Sans'] text-[#275C81] 
                        text-[10px] leading-[16px] 
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wider pop-up ">A research project titled ‘Detection of Solidification crack and Prediction <br class="hidden mo:hidden sm:block">
                            formation in GTAW of Aluminum alloy using Artificial Intelligence base <br class="hidden mo:hidden sm:block">
                            Method on an infrared thermal imaging.' The project applies knowledge <br class="hidden mo:hidden sm:block">
                            in Machine Learning, Machine Vision, and welding technology of <br class="hidden mo:hidden sm:block">
                            materials.It aims to detect and predict cracks in aluminum welds <br class="hidden mo:hidden sm:block">
                            using artificial intelligence and thermal imaging cameras to enhance<br class="hidden mo:hidden sm:block"> 
                            the quality and safety of materials used in various industries.</p>
                        <div class="absolute md:mt-64 lg:mt-64 xl:mt-64 2xl:mt-64 sm:mt-56 mt-52 mo:mt-60 text-[#275C81] font-['PT Sans'] text-[#275C81] 
                        text-[12px] leading-[18px] 
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wider pop-up">
                            <span class="font-bold">Awards:</span>
                            <span class="font-normal">Best Oral Presentation: ISPC Conference 2024 organized by KMUTT (Thailand)</span>
                        </div>
                        <div class="absolute mt-64 md:mt-80 lg:mt-80 xl:mt-80 2xl:mt-80 mo:mt-72 text-[#275C81] font-['PT Sans'] text-[#275C81] 
                        text-[12px] leading-[18px] 
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wider pop-up">
                            <span class="font-bold">&bull; Computer language:</span> 
                            <span class="font-normal" >Python, JavaScript, CSS, HTML</span>
                        </div>
                        <div class="flex gap-4 mt-60 md:mt-72 mo:mt-72">
                            <a href="https://github.com/SuuGarr/CrackDetection" target="_blank">
                                <img src="assets/images/GitHublink.png" alt="GitHublink" class="
                                w-[83px] h-[21px]
                                2xl:w-[144px] 2xl:h-[36px]
                                xl:w-[144px] xl:h-[36px]
                                lg:w-[120px] lg:h-[30px]
                                md:w-[120px] md:h-[30px]
                                sm:w-[100px] sm:h-[25px] 
                                pop-up"/>
                            </a>
                            <a href="assets/poster_crack.pdf" target="_blank">
                                <img src="assets/images/Poster.png" alt="poster" class="
                                w-[67px] h-[22px]
                                2xl:w-[112px] 2xl:h-[36px]
                                xl:w-[112px] xl:h-[36px]
                                lg:w-[93px] lg:h-[30px]
                                md:w-[93px] md:h-[30px]
                                sm:w-[77px] sm:h-[25px] pop-up"/>
                        </a>
                    </div>
                        <img src="assets/images/crack.png" 
                        alt="crack" class="
                        2xl:absolute 2xl:left-[650px] 2xl:w-[496px] 2xl:h-[229px] 2xl:mt-0
                        xl:absolute xl:left-[620px] xl:w-[496px] xl:h-[229px] xl:mt-0
                        lg:absolute lg:left-[560px] lg:w-[496px] lg:h-[229px] lg:mt-0
                        md:relative md:mt-4 md:w-[413px] md:h-[191px]
                        sm:relative sm:mt-4 sm:w-[413px] sm:h-[191px]
                        mo:relative mo:mt-4 mo:w-[312px] mo:h-[144px]
                        relative mt-4 w-[413px] h-[159px]
                        "
                        />
                </div>
                <div class="md:mb-72 relative 2xl:absolute xl:absolute lg:absolute 2xl:top-[700px] xl:top-[700px] lg:top-[700px] md:top-[700px] sm:top-[600px] top-[570px] flex flex-col min-h-screen w-full max-w-[1000px] ">
                    
                        <h4 class="font-['Konkhmer_Sleokchher'] text-[#275C81] 
                        text-[10px] leading-[16px] 
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wider pop-up" >
                        Intelligent Prosthetic Arm. </h4>
                        <p class="absolute mt-8 font-['PT Sans'] text-[#275C81] 
                        text-[10px] leading-[16px]  
                        2xl:text-[16px] 2xl:leading-[24px]
                        xl:text-[16px] xl:leading-[24px]
                        lg:text-[14px] lg:leading-[21px]
                        md:text-[14px] md:leading-[21px]
                        sm:text-[12px] sm:leading-[18px]
                        font-normal tracking-wider pop-up ">
                        Intelligent Prosthetic Arm works by using ‘Flex sensor’ to receive bending <br>
                        signals from Arm impaired people’s muscles around the Cubital Fossa or <br>
                        elbow pit, then use the bending value to control the Intelligent <br>
                        Prosthetic Arm. The Autodesk Inventor program has been used for <br>
                        planning and designing the prosthetic arm. After the developer  <br>
                        had Mr.Chawakorn Thummameta (Arm impaired people) test the Intelligent <br>
                        Prosthetic Arm for assisting in daily life, the result was satisfying,<br> 
                        the user could easily control the prosthetic arm and this innovation <br>
                        could help with the user’s daily tasks.</p>
                            <div class="absolute md:mt-60 lg:mt-60 xl:mt-64 2xl:mt-64 sm:mt-52 mt-48 text-[#275C81] font-['PT Sans'] text-[#275C81] 
                            text-[12px] leading-[18px] 
                            2xl:text-[16px] 2xl:leading-[24px]
                            xl:text-[16px] xl:leading-[24px]
                            lg:text-[14px] lg:leading-[21px]
                            md:text-[14px] md:leading-[21px]
                            sm:text-[12px] sm:leading-[18px]
                            font-normal tracking-wider pop-up">
                                <span class="font-bold">&bull; Computer language:</span>
                                <span class="font-normal">C</span>
                            </div>
                                <a href="assets/images/poster_Uarm.jpg" target="_blank">
                                    <img src="assets/images/Poster.png" alt="poster" class="mt-52  lg:mt-64 xl:mt-[270px] 2xl:mt-[270px] md:mt-64 sm:mt-56
                                    w-[77px] h-[25px]
                                    2xl:w-[112px] 2xl:h-[36px]
                                    xl:w-[112px] xl:h-[36px]
                                    lg:w-[93px] lg:h-[30px]
                                    md:w-[93px] md:h-[30px]
                                    sm:w-[77px] sm:h-[25px] pop-up"/>
                            </a>
                                <img
                                src="assets/images/uarm.png"
                                alt="uarm"
                                class="2xl:absolute 2xl:left-[620px] 2xl:w-[519px] 2xl:h-[260px] 2xl:mt-0
                                xl:absolute xl:left-[620px] xl:w-[432px] xl:h-[213px] xl:mt-0
                                lg:absolute lg:left-[560px] lg:w-[432px] lg:h-[213px] lg:mt-0
                                md:relative md:mt-4 md:w-[432px] md:h-[213px]
                                sm:relative sm:mt-4 sm:w-[360px] sm:h-[180px]
                                mo:relative mo:mt-4 mo:w-[300px] mo:h-[150px]
                                relative mt-4 w-[360px] h-[180px]
                                "
                                />
                    </div>
            </div>
        </div>
    </div>
</body>