<div class="min-h-screen flex justify-center items-start overflow-hidden px-4 pt-16 pb-16 sm:pt-24 md:pt-28 lg:pt-32 xl:pt-24 2xl:pt-32">
  <div class="flex flex-col items-center w-full max-w-[1000px]">

    <h1
      class="text-center font-['Konkhmer_Sleokchher'] text-[#5384B5] font-normal tracking-wide pop-up
      text-[20px] leading-[28px] mt-6
      sm:text-[24px] sm:leading-[34px] sm:mt-6
      md:text-[28px] md:leading-[42px] md:mt-8
      lg:text-[32px] lg:leading-[50px] lg:mt-10
      xl:text-[36px] xl:leading-[58px] xl:mt-16
      2xl:text-[40px] 2xl:leading-[64px] 2xl:mt-20"
    >
      Software Engineer
    </h1>

    <img
      src="assets/images/Profile.jpg"
      alt="profile-img"
      class="mt-6 w-[150px] h-[150px] rounded-full shadpw-custom mx-auto pop-up
      2xl:w-[259px] 2xl:h-[259px]
      xl:w-[259px] xl:h-[259px]
      lg:w-[259px] lg:h-[259px]
      md:w-[200px] md:h-[200px]
      sm:w-[172px] sm:h-[172px]"
    />

    <div class="mt-8 mb-10 flex flex-col items-center justify-center w-full">
      <div class="w-full max-w-[600px] space-y-4">

        <h2
          class="font-['Konkhmer_Sleokchher'] text-[22px] leading-[41px] text-[#5384B5] font-normal tracking-wide pop-up
          2xl:text-[38px] 2xl:leading-[72px]
          xl:text-[32px] xl:leading-[60px]
          lg:text-[30px] lg:leading-[57px]
          md:text-[28px] md:leading-[53px]
          sm:text-[24px] sm:leading-[45px]"
        >
          Benchaphorn Chanprasertkul
        </h2>

        <p
          class="mt-2 font-['PT Sans'] text-[14px] leading-[21px] text-[#5384B5] font-normal tracking-wider pop-up
          2xl:text-[20px] 2xl:leading-[30px]
          xl:text-[18px] xl:leading-[27px]
          lg:text-[16px] lg:leading-[24px]
          md:text-[16px] md:leading-[24px]"
        >
          Passionate about software engineering, I am currently working as a
          Software Engineer at Toyota Tsusho NEXTY Electronics (Thailand) Co., Ltd.      
          , developing IoT services using AWS. I have also had the opportunity 
          to intern at various companies and organizations, serving as a 
          full stack developer on multiple projects.
        </p>

        <div class="mt-4 border-b-4 border-blue-sky w-full pop-up"></div>

        <div class="mt-4 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
          <h3
            class="font-['Konkhmer_Sleokchher'] text-[22px] leading-[41px] text-[#5384B5] font-normal pop-up
            2xl:text-[38px] 2xl:leading-[72px]
            xl:text-[32px] xl:leading-[60px]
            lg:text-[30px] lg:leading-[57px]
            md:text-[28px] md:leading-[53px]
            sm:text-[24px] sm:leading-[45px]"
          >
            My Contact
          </h3>

          <div class="flex sm:ml-4 space-x-6 justify-center sm:justify-end">
            <a href="https://www.facebook.com/benchaphorn.chanprasertkul" target="_blank" rel="noopener noreferrer">
              <img
                src="assets/images/facebook1.png"
                alt="facebook"
                class="mt-1 w-[30px] h-[30px]
                2xl:w-[44px] 2xl:h-[44px]
                xl:w-[44px] xl:h-[44px]
                lg:w-[40px] lg:h-[40px]
                md:w-[38px] md:h-[38px]
                sm:w-[35px] sm:h-[35px] pop-up"
              />
            </a>

            <a href="https://github.com/SuuGarr" target="_blank" rel="noopener noreferrer">
              <img
                src="assets/images/GitHub1.png"
                alt="GitHub"
                class="mt-1 w-[30px] h-[30px]
                2xl:w-[44px] 2xl:h-[44px]
                xl:w-[44px] xl:h-[44px]
                lg:w-[40px] lg:h-[40px]
                md:w-[38px] md:h-[38px]
                sm:w-[35px] sm:h-[35px] pop-up"
              />
            </a>

            <a href="https://www.linkedin.com/in/benchaphorn" target="_blank" rel="noopener noreferrer">
              <img
                src="assets/images/Linkin1.png"
                alt="LinkedIn"
                class="mt-1 rounded-md w-[30px] h-[30px]
                2xl:w-[44px] 2xl:h-[44px]
                xl:w-[44px] xl:h-[44px]
                lg:w-[40px] lg:h-[40px]
                md:w-[38px] md:h-[38px]
                sm:w-[35px] sm:h-[35px] pop-up"
              />
            </a>
          </div>
        </div>

        <div class="mt-4 flex flex-col sm:flex-row sm:items-center sm:justify-between gap-4">
          <p
            class="font-['PT Sans'] text-[16px] leading-[21px]
            2xl:text-[20px] 2xl:leading-[26px]
            xl:text-[20px] xl:leading-[26px]
            lg:text-[20px] lg:leading-[26px]
            md:text-[20px] md:leading-[26px]
            sm:text-[18px] sm:leading-[24px]
            text-[#5384B5] font-normal pop-up"
          >
            benchaphorn.ch&#64;gmail.com <br />
            Tel: +66(0)9-3721-6183
          </p>

          <a href="assets/Benchaphorn_cv.pdf" target="_blank" class="flex justify-center sm:justify-end">
            <img
              src="assets/images/resume.png"
              alt="resume"
              class="w-[82px] h-[24px]
              2xl:w-[123px] 2xl:h-[36px]
              xl:w-[123px] xl:h-[36px]
              lg:w-[112px] lg:h-[33px]
              md:w-[103px] md:h-[30px]
              sm:w-[95px] sm:h-[28px] pop-up"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
