<div class="relative min-h-screen flex justify-center items-center overflow-hidden">
        <h1
          class="absolute text-center top-[80px] font-['Konkhmer_Sleokchher'] text-[22px] leading-[38px] text-[#5384B5] font-normal tracking-wide mt-8 pop-up
              2xl:text-[38px] 2xl:leading-[64px]
              xl:text-[32px] xl:leading-[55px]
              lg:text-[30px] lg:leading-[51px] 
              md:text-[28px] md:leading-[48px]
              sm:text-[24px] sm:leading-[40px]"
        >
          Software Developer
        </h1>
        <img
          src="assets/images/Profile.jpg"
          alt="profile-img"
          class="absolute top-[20%] w-[150px] h-[150px] rounded-full shadpw-custom mx-auto pop-up
          2xl:w-[259px] 2xl:h-[259px]
          xl:w-[259px] xl:h-[259px]
          lg:w-[259px] lg:h-[259px]
          md:w-[200px] md:h-[200px]
          sm:w-[172px] sm:h-[172px]"
        />
        <div class="mt-11 2xl:mt-56 xl:mt-56 lg:mt-44 md:mt-28 sm:mt-14 mo:mt-20 flex flex-col items-center justify-center min-h-screen">
          <div class="w-full max-w-[600px]">
              <h2 class="font-['Konkhmer_Sleokchher'] text-[22px] leading-[41px] text-[#5384B5] font-normal tracking-wide pop-up
                      2xl:text-[38px] 2xl:leading-[72px]
                      xl:text-[32px] xl:leading-[60px]
                      lg:text-[30px] lg:leading-[57px] 
                      md:text-[28px] md:leading-[53px]
                      sm:text-[24px] sm:leading-[45px]"
                      >
                      Benchaphorn Chanprasertkul</h2>
              <p class="
                      mt-2 font-['PT Sans'] text-[14px] leading-[21px] text-[#5384B5] font-normal tracking-wider pop-up 
                      2xl:text-[20px] 2xl:leading-[30px]
                      xl:text-[18px] xl:leading-[27px]
                      lg:text-[16px] lg:leading-[24px] 
                      md:text-[16px] md:leading-[24px]
              ">
                  Passionate about software engineering,<br> 
                  I have had the opportunity to intern at <br>
                  various companies and organizations, <br>
                  serving as a full stack developer on <br>
                  multiple projects.
            </p>
              <div class="mt-4 border-b-4 border-blue-sky w-200 pop-up"></div>
              <div class="flex justify-between">
                <h3 class=" mt-4 font-['Konkhmer_Sleokchher'] text-[22px] leading-[41px] text-[#5384B5] font-normal pop-up
                        2xl:text-[38px] 2xl:leading-[72px]
                        xl:text-[32px] xl:leading-[60px]
                        lg:text-[30px] lg:leading-[57px] 
                        md:text-[28px] md:leading-[53px]
                        sm:text-[24px] sm:leading-[45px]"
                >
                My Contract 
                </h3>
                <div class="flex ml-4 space-x-6 ">
                <a href="https://www.facebook.com/benchaphorn.chanprasertkul" target="_blank" rel="noopener noreferrer">
                  <img src="assets/images/facebook1.png"
                  alt="facebook"
                  class="mt-4 w-[30px] h-[30px]
                  2xl:w-[44px] 2xl:h-[44px]
                  xl:w-[44px] xl:h-[44px]
                  lg:w-[40px] lg:h-[40px]
                  md:w-[38px] md:h-[38px]
                  sm:w-[35px] sm:h-[35px] pop-up" 
                  />
                </a>
                <a href="https://github.com/SuuGarr" target="_blank" rel="noopener noreferrer">
                  <img src="assets/images/GitHub1.png"
                  alt="GitHub"
                  class="mt-4 w-[30px] h-[30px]
                  2xl:w-[44px] 2xl:h-[44px]
                  xl:w-[44px] xl:h-[44px]
                  lg:w-[40px] lg:h-[40px]
                  md:w-[38px] md:h-[38px]
                  sm:w-[35px] sm:h-[35px] pop-up"
                  />
              </a>
              <a href="https://www.linkedin.com/in/benchaphorn" target="_blank" rel="noopener noreferrer" >
                  <img src="assets/images/Linkin1.png"
                  alt="Linkin"
                  class="mt-4 rounded-md w-[30px] h-[30px]
                  2xl:w-[44px] 2xl:h-[44px]
                  xl:w-[44px] xl:h-[44px]
                  lg:w-[40px] lg:h-[40px]
                  md:w-[38px] md:h-[38px]
                  sm:w-[35px] sm:h-[35px] pop-up"
                  />
                </a>
              </div>
            </div>
            
            <div class="flex justify-between">
                <p class="font-['PT Sans'] text-[16px] leading-[21px] 
                2xl:text-[20px] 2xl:leading-[26px] 
                xl:text-[20px] xl:leading-[26px]
                lg:text-[20px] lg:leading-[26px]
                md:text-[20px] md:leading-[26px]
                sm:text-[18px] sm:leading-[24px]
                text-[#5384B5] fonr-normal pop-up">benchaphorn.ch&#64;gmail.com <br>
                Tel: +66937216183 </p>
                <a href="assets/Benchaphorn_resume.pdf" target="_blank">
                  <img src="assets/images/resume.png" alt="resume" class=" w-[82px] h-[24px]
                  2xl:w-[123px] 2xl:h-[36px]
                  xl:w-[123px] xl:h-[36px]
                  lg:w-[112px] lg:h-[33px]
                  md:w-[103px] md:h-[30px]
                  sm:w-[95px] sm:h-[28px] pop-up"/>
              </a>
              </div>
          </div>
      </div>
    </div> 

  
  